<section class="container mt-2">
    <div class="row">
        <div class="col-6 col-md-4 col-lg-3 mb-2">
          <div class="card">        
            <div>
                <img src="../../../../../assets/images/cake-2.jpg" alt="cake" class="img-fluid">
            </div>
            <div>
                <p class="p-0 m-0 text-center">Torta tres leches</p>
                <p class="p-0 m-0 text-center"><span>$</span> 15.000</p>
            </div>
          </div>  
        </div>
        <div class="col-6 col-md-4 col-lg-3 mb-2">
          <div class="card">        
            <div>
                <img src="../../../../../assets/images/cake-2.jpg" alt="cake" class="img-fluid">
            </div>
            <div>
                <p class="p-0 m-0 text-center">Torta tres leches</p>
                <p class="p-0 m-0 text-center"><span>$</span> 15.000</p>
            </div>
          </div>  
        </div>
        <div class="col-6 col-md-4 col-lg-3 mb-2">
          <div class="card">        
            <div>
                <img src="../../../../../assets/images/cake-2.jpg" alt="cake" class="img-fluid">
            </div>
            <div>
                <p class="p-0 m-0 text-center">Torta tres leches</p>
                <p class="p-0 m-0 text-center"><span>$</span> 15.000</p>
            </div>
          </div>  
        </div>
        <div class="col-6 col-md-4 col-lg-3 mb-2">
          <div class="card">        
            <div>
                <img src="../../../../../assets/images/cake-2.jpg" alt="cake" class="img-fluid">
            </div>
            <div>
                <p class="p-0 m-0 text-center">Torta tres leches</p>
                <p class="p-0 m-0 text-center"><span>$</span> 15.000</p>
            </div>
          </div>  
        </div>
        <div class="col-6 col-md-4 col-lg-3 mb-2">
          <div class="card">        
            <div>
                <img src="../../../../../assets/images/cake-2.jpg" alt="cake" class="img-fluid">
            </div>
            <div>
                <p class="p-0 m-0 text-center">Torta tres leches</p>
                <p class="p-0 m-0 text-center"><span>$</span> 15.000</p>
            </div>
          </div>  
        </div>
    </div>
</section>
