.background-nav {
    background-image: url('../../../../assets/images/jute.jpg');
}

.container-img {
    height: 180px;
    width: 180px;
}

nav {
    a{
        text-decoration: none;
        font-size: 24px;
        color: #a04e7f !important;
        font-weight: bold;

        &:hover{
            font-size: 26px;
            text-decoration: underline;
        }
    }
}