/* You can add global styles to this file, and also import other style files */
$primary-color: #E98DAD;
$secondary-color: #7A042A;
$third-color: #E6BFCC;
$forth-color: #4F021B;
$white-text: #ffffff;
$black-text: #000;

body {
    padding: 10px 0px
}